{% extends 'base.html' %}

{% block title %}OTP Verification{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/payment.css') }}">

<div class="otp-container">
    <h2>Enter OTP</h2>
    <p>We have sent an OTP to your registered mobile number.</p>
    
    <form method="POST" action="{{ url_for('otp_page') }}">
        <input type="password" name="otp" placeholder="Enter OTP" maxlength="6"required>
        <button type="submit" class="btn-primary">Confirm Payment</button>
    </form>
</div>

{% endblock %}
